.backbar {
    height: 100vh;
    width: 50%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    display: grid;
    grid-template-rows: 3rem 1fr;
    transition: width .3s linear;
}

.backbar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.backbar__logo a {
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 3rem;
    color: #620085;
}

.backbar__menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.backbar__menu ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center
}

.backbar__menu a {
    position: relative;
    color: #fff;
    transition: all .3s ease-in-out;
    font-weight: lighter;
    margin: .3rem 0;
    font-size: 1.7rem;
    transition: transform .2s;
}

@media (min-width: 668px) {
    .backbar {
        display: none;
    }   
}

@media (max-width: 430px) {
    .backbar {
        width: 100%;
    }
}