.nav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .5rem 1rem;
    background-color: #000;
    transition: width .3s linear;
}

.nav__logo a {
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 1.7rem;    
    color: #620085;
}

.nav_icon {
    display: none !important;
    transform: scale(1.3);
    transition: all .2s ease-in-out;
}

.nav_icon:hover {
    color: #620085;
    transform: scale(1.8);
}

.nav__menu a {
    position: relative;
    margin-left: 1rem;
    color: #fff;
    transition: all .3s ease-in-out;
    font-weight: lighter;
}

.nav__menu a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #620085;
    transition: width .2s ease-in-out;
}

.nav__menu a:hover::before {
    width: 100%;
}

.nav__menu a:first-child {
    margin-left: 0;
}

.activeLink {
    color: #620085 !important;
}


@media (max-width: 668px) {
    .nav__menu {
        display: none;
    }

    .nav_icon {
        display: block !important;
    }
}
