.tableapp {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.table-container {
    width: 76%;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

@media (max-width: 480px) {
    .table-container {
        width: 100%;
    }
}